@import "../../../styles/vars";

.label {
  font-weight: 600;
  &.default {
    color: $default;
  }
  &.primary {
    color: $primary;
  }
  &.small {
    font-size: 14px;
    line-height: 16px;
  }
  &.medium {
    font-size: 16px;
    line-height: 20px;
  }
  &.large {
    font-size: 18px;
    line-height: 24px;
  }
  &.crossed-out {
    text-decoration: line-through;
  }
}